
.div{
    padding-top:30px;
    height:50px;
}
.formgroup{
    padding-left:400px;
    padding-right:400px;
}
.div1{
    padding-top:30px;
    padding-bottom: 20px;
}
.input-symbol-euro {
    position: relative;
}
.input-symbol-euro input {
    padding-right:18px;
  
}
.input-symbol-euro:before {
    position: absolute;
    top: 7px;
    content:"€";
    left: 5px;
}
.form1{
    padding-top:50px;
}
.errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }
.button{
    margin-left:600px;
}
.button1{
    margin-left:100px;
}
.de{
    margin-left:200px;
}